<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Declare that this is a Leanback (TV) app -->
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />

    <!-- TV apps don't require touchscreen -->
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:name=".TmdbApp"
        android:allowBackup="true"
        android:banner="@drawable/app_banner"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidTV">

        <meta-data
            android:name="BITMOVIN_PLAYER_LICENSE_KEY"
            android:value="93a2cfaf-9e1c-47b9-8463-3a70fb7acfd1" />

        <!-- Main browsing activity (TV launcher entry) -->
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Detail view for movies/TV shows -->
        <activity
            android:name=".ui.DetailActivity"
            android:exported="false"
            android:screenOrientation="landscape" />

        <!-- Video playback with MediaPlayer -->
        <activity
            android:name=".ui.PlaybackActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <!-- Search -->
        <activity
            android:name=".ui.SearchActivity"
            android:exported="false"
            android:screenOrientation="landscape" />

    </application>
</manifest>
